/TraitAwareVC-Demo/TraitAwareVC-Demo.xcodeproj/xcuserdata
Build
/TraitAwareVC-Demo/TraitAwareVC-Demo.xcodeproj/project.xcworkspace/xcuserdata
/Example/TraitAwareness.xcworkspace/xcuserdata/admin.xcuserdatad
/Example/TraitAwareness.xcodeproj/xcuserdata
/Example/Pods
