/TraitAwareVC-Demo/TraitAwareVC-Demo.xcodeproj/xcuserdata
Build
/TraitAwareVC-Demo/TraitAwareVC-Demo.xcodeproj/project.xcworkspace/xcuserdata
/Example/SizeClassAwareness.xcworkspace/xcuserdata/admin.xcuserdatad
/Example/SizeClassAwareness.xcodeproj/xcuserdata
/Example/Pods
/SizeClassAwareness.xcodeproj/xcuserdata
/SizeClassAwareness.xcodeproj/project.xcworkspace/xcuserdata
/fastlane/report.xml
